<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Search Page</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
</head>

<body>
    <div class="search-container">
        <form action="/search" method="get">
            <input type="text" class="search-input" placeholder="Search..." name="q">
            <button class="search-button" type="submit">Search</button>
        </form>
    </div>
</body>

</html>