<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视频搜索结果</title>
    <link rel="stylesheet" type="text/css" href="/static/search.css" />

</head>

<body>

    <div class="header">
        <div class="search-container">
            <form action="/search" method="get">
                <input type="text" class="search-input" placeholder="搜索..." value="{{ keyword }}" name="q">
                <button class="search-button" type="submit">搜索</button>
            </form>
        </div>
    </div>

    <div class="video-list">
        {% for item in pageMaster %}
        {% set video_info = get_info_by_id(item['id']) %}
        <div class="video-item">
            <img src="{{ item['image_url'] }}" alt="Video Thumbnail" class="video-thumbnail">
            <div class="video-info">
                <div class="video-title">{{ item['title'] }}</div>
                <div class="video-meta">{{ video_info['plot'] }}</div>
                <div class="episode-info">
                    {% set size = video_info['links'] | length %}
                    {% for link in video_info['links'] %}
                    <a class="episode-number" href="/player?name={{ item['title'] }}&index={{ loop.index0 }}"
                        target="_blank">{{ link.split('$')[0] }}</a>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="pagination">

        {% if pageMaster.pagecount > 1 %}
        <button><a href="{{ url_for('index.search',q=keyword,p=pageMaster.get_up_page() ) }}">&laquo; 上一页</a></button>
        {% for i in pageMaster.get_pagination_bar() %}
        {% if pageMaster.is_current_page(i) %}
        <button><a href="#" class="active">{{ i }}</a></button>
        {% else %}
        <button><a href="{{  url_for('index.search',q=keyword,p=i)  }}">{{ i }}</a></button>
        {% endif %}
        {% endfor %}
        <button><a href="{{ url_for('index.search',q=keyword,p=pageMaster.get_next_page() ) }}">下一页 &raquo;</a></button>
        {% endif %}
    </div>

</body>

</html>